.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input {
    height: 38px;
    border-radius: 8px;
    max-width: 250px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: none;
    border: 1px solid #b6b6b6;
}

.container a {
    text-decoration: none;
    color: rgb(91, 91, 157);
    background-color: rgb(192, 234, 227);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(91, 91, 157);
    transition: all .2s;
}

.container a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}